@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none; border: none;
    text-decoration: none;
 }
 body{
    background: #fff;
    font-family: sans-serif;
 }
 section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    }
    header{
        position: absolute;
        background: #067655;
        top: 25px;
        left: 0;
        width: 100%;
        padding: 1px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
 .menu{
    position: relative;
    width: 120px;   
 }
 img{
    width: 120px;
    padding: 10px;
 }
 nav{
    float: right;
 }
 header ul{
    position: absolute;
    display: flex;
    background-color:#067655;
    padding: 40px;
    width: 100%;
    left: 850px;

}
 header ul li{
    list-style: none;
}
header ul li a {
    display: inline-block;
    align-items: center;
    color: #fff;
    font-weight: 900px;
    font-size: 20px;
    margin-left: 60px;
    text-decoration: none;
}
body{
    background: #fff;
}
html{
    font-size: 90%;
    overflow-x: hidden;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.container .title{
    font-size: 3rem;
    color: #743414;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.container .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
.container .products-container .product{
    text-align: center;
    padding: 3rem 2rem;
    background: #dbb794;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    outline: .1rem solid #8d4925;
    outline-offset: -1.2rem;
    cursor: pointer;
}
.container .products-container .product:hover{
    outline: .2rem solid #8d4925;
    outline-offset: 0;
}
.container .products-container .product:hover img{
    transform: scale(.9);
}
.container .products-container .product h3{
    padding: .5rem 0;
    font-size: 2rem;
    color: #421d0a;
}
.container .products-container .product:hover h3{
    color: #017143;
}
.container .products-container .product .price{
    font-size: 1.7rem;
    color: #421d0a;
}
.products-preview{
    position: fixed;
    top: 0; left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
}
.products-preview .preview{
    display: none;
    padding: 2rem;
    text-align: center;
    background:#ebd2b8;
    position: relative;
    margin: 2rem;
    width: 40rem;
}
.products-preview .preview.active{
    display: inline-block;
}
.products-preview .preview .fa-times{
    position: absolute;
    top: 1rem; right: 1.5rem;
    cursor: pointer;
    color: #421d0a;
    font-size: 1.5rem;
}
.products-preview .preview .fa-times:hover{
    transform: rotate(90deg);
}
.products-preview .preview h3{
    color:#0d432c;
    padding: 1.5rem 0;
    font-size: 2.5rem;
}
.products-preview .preview .stars{
    padding: 1rem 0;
    font-size: 1.4rem;
}
.products-preview .preview .stars i{
    color: darkgoldenrod;
}
.products-preview .preview p{
    line-height: 1.5;
    padding: 1rem 0;
    font-size: 1.2rem;
    color: #421d0a;
}
.products-preview .preview .price{
    padding: 1rem 0;
    font-size: 1.8rem;
    color: #682808;
}
.products-preview .preview .buttons{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.products-preview .preview .buttons a{
    flex: 1 1 10rem;
    padding: 1rem;
    font-size: 1.2rem;
    color: #017143;
    border: 0.1rem solid #07432a ;
}
.products-preview .preview .buttons a.cart{
    background: #067655;
    color: #ebd2b8;
}
.products-preview .preview .buttons a.cart:hover{
    background: darkgoldenrod;
}
.products-preview .preview .buttons a.buy{
    background: #067655;
    color: #ebd2b8;
}
.products-preview .preview .buttons a.buy:hover{
    background: darkgoldenrod;
}

@media (max-width:991px){

    html{
       font-size: 55%;
    }
 
 }
 
 @media (max-width:768px){
 
    .products-preview .preview img{
       height: 25rem;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
 }
